<div class="wrap">
  <div class="wrap_header">
    <h4>{{'Create user creation request'|translate}}</h4>
  </div>
  <div class="wrap_content">
    <div class="div-tb">
      <table class="tb-design">
        <colgroup>
          <col width='10%'>
          <col width='25%'>
          <col width='15%'>
          <col width='10%'>
          <col width='25%'>
          <col width='15%'>
        </colgroup>
        <thead>

        </thead>
        <tbody>
          <tr>
            <td class="bl0">
              <span class="tb-label required">{{'First Name'|translate}}</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="{{'First Name'|translate}}">
            </td>
            <td class="bl0">
              <span class="tb-des">Ex: Beckham</span>
            </td>
            <td>
              <span class="tb-label required">{{'Last Name'|translate}}</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="{{'Last Name'|translate}}">
            </td>
            <td class="bl0">
              <span class="tb-des">Ex: David</span>
            </td>
          </tr>
          <tr>
            <td class="bl0">
              <span class="tb-label required"> {{'User Name'|translate}}</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="{{'User Name'|translate}}">
            </td>
            <td class="bl0">
              <span class="tb-des">Ex: DavidBeckham</span>
            </td>
            <td>
              <span class="tb-label required"> {{'Password'|translate}}</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="{{'Password'|translate}}">
            </td>
            <td class="bl0">
              <span class="tb-des">Ex: Abc123!@#</span>
            </td>
          </tr>
          <tr>
            <td class="bl0">
              <span class="tb-label required">{{'Email'|translate}}</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="{{'Email'|translate}}">
            </td>
            <td class="bl0">
              <span class="tb-des">Ex: abc@gmail.com</span>
            </td>
            <td>
              <span class="tb-label required">{{'Role'|translate}}</span>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="{{'Role'|translate}}">
            </td>
            <td class="bl0">
              <span class="tb-des">Ex: admin/manager/user/</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  <div class="div-button">
    <div class="left"></div>
    <div class="right">
      <input type="button" class="btn btn-primary mr_5" value="{{'Create'|translate}}">
      <input type="button" class="btn btn-secondary mr_5" value="{{'Reset'|translate}}">
    </div>
  </div>
</div>
